{% extends 'base.html' %}
{% load static %}

{% block title %}個人資料{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">個人資料</h5>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">用戶名</label>
                            <input type="text" class="form-control" id="username" value="{{ user.username }}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">電子郵件</label>
                            <input type="email" class="form-control" id="email" value="{{ user.email }}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="first_name" class="form-label">名字</label>
                            <input type="text" class="form-control" id="first_name" value="{{ user.first_name }}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="last_name" class="form-label">姓氏</label>
                            <input type="text" class="form-control" id="last_name" value="{{ user.last_name }}" disabled>
                        </div>
                        <a href="{% url 'accounts:dashboard' %}" class="btn btn-secondary">返回控制面板</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 